@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,500,600,700,900");
* {
  font-family: "Noto Sans TC", "Noto Serif TC", sans-serif;
}

section.news-content .wrapper,
section.news-nav .wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1240px;
  margin: auto;
  padding: 0 20px;
}

section.news-content {
  margin-top: 113px;
  padding: 120px 0;
}
section.news-content .title {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}
section.news-content .date {
  font-size: 20px;
  text-align: right;
  margin-top: 20px;
}
section.news-content .content {
  max-width: 800px;
  margin: 70px auto 0 auto;
}
section.news-content .content .txt {
  margin-top: 50px;
  font-size: 18px;
  line-height: 1.5;
}

section.news-nav {
  background-color: rgba(222, 216, 201, 0.5);
}
section.news-nav .nav {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.news-nav .nav-item {
  font-size: 24px;
  color: #000;
  text-decoration: none;
}
section.news-nav .nav .fbShare {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  max-width: 432px;
  margin: 0 auto 0 auto;
  padding: 26px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #c5bfb2;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}