@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,500,600,700,900");
* {
  font-family: 'Noto Sans TC','Noto Serif TC', sans-serif; }

section.product .wrapper {
  width: 1200px;
  padding-top: 120px;
  margin: auto; }
  section.product .wrapper .title {
    border-bottom: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section.product .wrapper .title .main-title {
      width: 460px;
      position: relative;
      text-align: right; }
      section.product .wrapper .title .main-title:before {
        content: '';
        display: block;
        width: 326px;
        height: 89px;
        background-image: url("../images/product_title_en.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: absolute;
        bottom: 5px;
        left: -5%;
        z-index: -1; }
      section.product .wrapper .title .main-title figure.icon {
        width: 90px;
        display: inline-block;
        vertical-align: middle; }
      section.product .wrapper .title .main-title p {
        font-size: 60px;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle; }
    section.product .wrapper .title .title-intro {
      width: 460px;
      padding: 0 10px; }
      section.product .wrapper .title .title-intro p {
        font-size: 18px;
        line-height: 1.5;
        color: #8f5b94; }
  section.product .wrapper .product-box {
    width: 100%;
    padding: 35px 0; }
    section.product .wrapper .product-box .product-item {
      width: 100%; }
      section.product .wrapper .product-box .product-item .pic {
        width: 100%;
        padding-bottom: 100%;
        border: 1px solid #ccc;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        section.product .wrapper .product-box .product-item .pic:before {
          content: '';
          display: block;
          width: 100%;
          height: 16px;
          background-color: #efcc2a;
          position: absolute;
          bottom: 0;
          left: 0; }
      section.product .wrapper .product-box .product-item .info {
        padding-top: 15px; }
        section.product .wrapper .product-box .product-item .info .name {
          font-size: 24px;
          font-weight: bold;
          padding-bottom: 10px; }
        section.product .wrapper .product-box .product-item .info .txt {
          font-size: 18px;
          line-height: 1.5;
          color: #666;
          padding-bottom: 10px; }
        section.product .wrapper .product-box .product-item .info .price {
          font-size: 18px;
          font-weight: bold;
          color: #ff004e;
          text-align: right; }
          section.product .wrapper .product-box .product-item .info .price span.big {
            font-size: 34px; }

section.faq {
  background-color: #ded8c9; }
  section.faq .wrapper {
    width: 840px;
    padding: 60px 0;
    margin: auto; }
    section.faq .wrapper .title {
      padding: 20px 0;
      text-align: center;
      position: relative;
      z-index: 1; }
      section.faq .wrapper .title .main-title {
        position: relative;
        display: inline-block; }
        section.faq .wrapper .title .main-title:before {
          content: '';
          display: block;
          width: 126px;
          height: 101px;
          background-image: url("../images/faq_title_en.png");
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          position: absolute;
          bottom: -15px;
          right: -20%;
          z-index: -1; }
        section.faq .wrapper .title .main-title figure.icon {
          width: 70px;
          -webkit-transform: translateY(15px);
          -ms-transform: translateY(15px);
          transform: translateY(15px);
          display: inline-block;
          vertical-align: middle; }
        section.faq .wrapper .title .main-title p {
          font-size: 60px;
          font-weight: bold;
          display: inline-block;
          vertical-align: middle; }
    section.faq .wrapper .tab-box {
      margin: 40px 0;
      border-bottom: 1px solid #ccc;
      font-size: 0;
      text-align: center; }
      section.faq .wrapper .tab-box .tab {
        width: 190px;
        margin: 0 1px;
        font-size: 24px;
        line-height: 50px;
        font-weight: bold;
        color: #a6a2a2;
        background-color: #fff;
        border: 1px solid #c5bfb2;
        -webkit-box-shadow: 0 2px 8px rgba(6, 0, 1, 0.2) inset;
        box-shadow: 0 2px 8px rgba(6, 0, 1, 0.2) inset;
        border-radius: 10px 10px 0 0;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle; }
        section.faq .wrapper .tab-box .tab.active {
          color: #000;
          background-color: #c5bfb2;
          -webkit-box-shadow: none;
          box-shadow: none; }
    section.faq .wrapper .faq-content {
      width: 100%; }
      section.faq .wrapper .faq-content .faq-box {
        width: 100%; }
        section.faq .wrapper .faq-content .faq-box .faq-item {
          width: 100%;
          margin: 10px 0; }
          section.faq .wrapper .faq-content .faq-box .faq-item .faq-ques {
            width: 100%;
            padding: 10px 20px;
            background-color: #c5bfb2;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            cursor: pointer; }
            section.faq .wrapper .faq-content .faq-box .faq-item .faq-ques:before {
              content: '';
              display: block;
              width: 15px;
              height: 100%;
              background-color: #8f5b94;
              position: absolute;
              right: 0;
              top: 0; }
            section.faq .wrapper .faq-content .faq-box .faq-item .faq-ques figure.icon {
              width: 43px;
              display: inline-block;
              vertical-align: middle; }
            section.faq .wrapper .faq-content .faq-box .faq-item .faq-ques p {
              font-size: 24px;
              font-weight: bold;
              display: inline-block;
              vertical-align: middle; }
          section.faq .wrapper .faq-content .faq-box .faq-item .faq-ans {
            width: 100%;
            padding: 15px 45px;
            border: 2px solid #c5bfb2;
            background-color: #fff;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
            section.faq .wrapper .faq-content .faq-box .faq-item .faq-ans p {
              font-size: 22px;
              line-height: 1.5;
              color: #444; }
    section.faq .wrapper a.more-btn {
      width: 450px;
      margin: 40px auto 0;
      font-size: 24px;
      line-height: 78px;
      font-weight: bold;
      text-decoration: none;
      color: #000;
      background-color: #fff;
      border: 1px solid #c5bfb2;
      text-align: center;
      display: block; }
