@import "var.sass"

footer
  background-color: $purple
  .wrapper
    max-width: 1200px
    margin: auto
    +clearfix
    .copyright
      font-size: 16px
      line-height: 50px
      color: #fff
      float: left
    .design
      font-size: 16px
      line-height: 50px
      color: #fff
      opacity: .5
      float: right