@import "var.sass"

*
	// outline: 1px solid #f00

section.product
	.wrapper
		max-width: 1200px
		padding-top: 120px
		margin: auto
		.title
			border-bottom: 1px solid #ccc
			display: flex
			justify-content: center
			align-items: center
			.main-title
				width: 460px
				position: relative
				text-align: right
				&:before
					content: ''
					display: block
					width: 434px
					height: 90px
					background-image: url('../images/product_title_en.png')
					background-repeat: no-repeat
					background-position: center center
					background-size: contain
					position: absolute
					bottom: 5px
					left: -5%
					z-index: -1
				figure.icon
					width: 90px
					+dib
				p
					font-size: 60px
					font-weight: bold
					+dib
			.title-intro
				width: 460px
				padding: 0 10px
				p
					font-size: 18px
					line-height: 1.5
					color: $purple
		.product-box
			width: calc(100% - 80px)
			margin: auto
			padding: 35px 0
			position: relative
			.carousel-arrow
				width: 30px
				height: 30px
				.svg-box
				&.arrow-left
					left: -40px
				&.arrow-right
					right: -40px
			.product-item
				width: 100%
				.pic
					width: 100%
					padding-bottom: 100%
					border: 1px solid #ccc
					background-size: contain
					background-repeat: no-repeat
					background-position: center center
					position: relative
					box-sizing: border-box
					&:before
						content: ''
						display: block
						width: 100%
						height: 16px
						background-color: $yellow
						position: absolute
						bottom: 0
						left: 0
				.info
					padding-top: 15px
					.name
						font-size: 24px
						font-weight: bold
						padding-bottom: 10px
					.txt
						font-size: 18px
						line-height: 1.5
						color: #666
						margin-bottom: 10px
						overflow: hidden
						text-overflow: ellipsis
						display: -webkit-box
						-webkit-box-orient: vertical
						-webkit-line-clamp: 2
					.price
						font-size: 18px
						font-weight: bold
						color: $red
						text-align: right
						span.big
							font-size: 34px
	+rwd(1260px)
		.wrapper
			// padding-top: 120px
			.title
				// border-bottom: 1px solid #ccc
				display: block
				position: relative
				margin-bottom: 60px
				.main-title
					width: 460px
					margin: auto
					// position: relative
					// text-align: right
					&:before
						// width: 326px
						// height: 89px
						// bottom: 5px
						// left: -5%
					figure.icon
						// width: 90px
					p
						// font-size: 60px
				.title-intro
					// width: 460px
					// padding: 0 10px
					position: absolute
					right: 0
					p
						// font-size: 18px
			.product-box
				// width: calc(100% - 80px)
				// padding: 35px 0
				.carousel-arrow
					// width: 30px
					// height: 30px
					.svg-box
					&.arrow-left
						// left: -40px
					&.arrow-right
						// right: -40px
				.product-item
					.pic
						&:before
							// height: 16px
					.info
						// padding-top: 15px
						.name
							// font-size: 24px
							// padding-bottom: 10px
						.txt
							// font-size: 18px
							// padding-bottom: 10px
						.price
							// font-size: 18px
							span.big
								// font-size: 34px
	+rwd(640px)
		.wrapper
			// padding-top: 120px
			.title
				// border-bottom: 1px solid #ccc
				margin-bottom: 30px
				.main-title
					width: 100%
					margin: auto
					text-align: center
					&:before
						width: 155px
						height: 42px
						// bottom: 5px
						left: 2%
					figure.icon
						width: 50px
					p
						font-size: 30px
				.title-intro
					width: 100%
					box-sizing: border-box
					p
						font-size: 12px
			.product-box
				// width: calc(100% - 80px)
				padding: 15px 0
				.carousel-arrow
					width: 25px
					height: 25px
					.svg-box
					&.arrow-left
						left: -30px
					&.arrow-right
						right: -30px
				.product-item
					.pic
						&:before
							height: 8px
					.info
						// padding-top: 15px
						.name
							font-size: 18px
							padding-bottom: 5px
						.txt
							font-size: 14px
							padding-bottom: 5px
						.price
							font-size: 14px
							span.big
								font-size: 28px



section.faq
	background-color: $lightyellow
	.wrapper
		width: calc(100% - 30px)
		max-width: 840px
		padding: 60px 0
		margin: auto
		.title
			padding: 20px 0
			text-align: center
			position: relative
			z-index: 1
			.main-title
				position: relative
				display: inline-block
				&:before
					content: ''
					display: block
					width: 126px
					height: 101px
					background-image: url('../images/faq_title_en.png')
					background-repeat: no-repeat
					background-position: center center
					background-size: contain
					position: absolute
					bottom: -15px
					right: -20%
					z-index: -1
				figure.icon
					width: 70px
					transform: translateY(15px)
					+dib
				p
					font-size: 60px
					font-weight: bold
					+dib
		.tab-box
			margin: 40px 0
			border-bottom: 1px solid #ccc
			font-size: 0
			text-align: center
			.tab
				width: 190px
				margin: 0 1px
				font-size: 24px
				line-height: 50px
				font-weight: bold
				color: #a6a2a2
				background-color: #fff
				border: 1px solid $brown
				box-shadow: 0 2px 8px rgba(#060001,.2) inset
				border-radius: 10px 10px 0 0
				cursor: pointer
				+dib
				&.active
					color: #000
					background-color: $brown
					box-shadow: none
		.faq-content
			width: 100%
			.faq-box
				width: 100%
				display: none
				&:nth-child(1)
					display: block
				.faq-item
					width: 100%
					margin: 10px 0
					.faq-ques
						width: 100%
						padding: 10px 20px
						background-color: $brown
						box-sizing: border-box
						border-radius: 10px
						overflow: hidden
						position: relative
						cursor: pointer
						&:before
							content: ''
							display: block
							width: 15px
							height: 100%
							background-color: $purple
							position: absolute
							right: 0
							top: 0
						figure.icon
							width: 43px
							+dib
						p
							font-size: 24px
							font-weight: bold
							+dib
					.faq-ans
						width: 100%
						padding: 15px 45px
						border: 2px solid $brown
						background-color: #fff
						box-sizing: border-box
						display: none
						p
							font-size: 22px
							line-height: 1.5
							color: #444
		a.more-btn
			width: 450px
			margin: 40px auto 0
			font-size: 24px
			line-height: 78px
			font-weight: bold
			text-decoration: none
			color: #000
			background-color: #fff
			border: 1px solid $brown
			text-align: center
			display: block


section.contact
	.wrapper
		max-width: 1200px
		padding-top: 100px
		margin: auto
		.title
			border-bottom: 1px solid #ccc
			display: flex
			justify-content: center
			align-items: center
			.main-title
				width: 540px
				position: relative
				text-align: right
				&:before
					content: ''
					display: block
					width: 374px
					height: 89px
					background-image: url('../images/contact_title_en.png')
					background-repeat: no-repeat
					background-position: center center
					background-size: contain
					position: absolute
					bottom: 5px
					left: 6%
					z-index: -1
				figure.icon
					width: 76px
					+dib
				p
					font-size: 60px
					font-weight: bold
					+dib
			.title-intro
				width: 540px
				padding: 0 10px
				p
					font-size: 18px
					line-height: 1.5
					color: $purple
		.main
			max-width: 1000px
			margin: 40px auto
			+clearfix
			.form
				width: 590px
				float: right
				.row
					font-size: 0
					margin-bottom: 15px
					label
						width: 125px
						line-height: 42px
						font-size: 18px
						color: #000
						font-weight: bold
						text-align: center
						display: inline-block
						vertical-align: top
					input,textarea
						width: calc(100% - 125px)
						padding: 0 25px
						font-size: 18px
						height: 42px
						// line-height: 42px
						border: 1px solid #aaa
						box-sizing: border-box
						display: inline-block
						vertical-align: top
						&::placeholder
							color: #aaa
					select
						width: 180px
						height: 42px
						padding: 0 25px
						font-size: 18px
						border: 1px solid #aaa
						box-sizing: border-box
						color: #aaa
						display: inline-block
						vertical-align: top
						option
					textarea
						height: 130px
						padding: 10px 25px
						resize: none
				input.submit-btn
					width: 370px
					height: 62px
					margin-left: 125px
					font-size: 24px
					line-height: 62px
					background-color: #fff
					border: 1px solid #aaa
					text-align: center
					display: inline-block
					cursor: pointer
					transition: .3s
					&:hover
						background-color: #aaa
						color: #fff
			.contact-info
				width: 335px
				float: left
				.gray-txt
					font-size: 18px
					line-height: 1.3
					color: #888
				.txt
					font-size: 18px
					line-height: 1.5
					color: #000
					font-weight: bold
				.icon-box
					font-size: 0
					margin-top: 15px
					a.icon
						width: 70px
						+dib
						figure
							img
						& + a.icon
							margin-left: 10px
				.separate
					width: 100%
					margin: 15px 0
					text-align: center
					overflow: hidden
					p
						font-size: 25px
						font-weight: bold
						color: #ccc
						display: inline-block
						position: relative
						&:before,&:after
							content: ''
							display: block
							width: 100vw
							height: 1px
							background-color: #ccc
							position: absolute
							top: 0
							bottom: 0
							margin: auto
						&:before
							left: calc(-100vw - 25px)
						&:after
							right: calc(-100vw - 25px)
				.qrcode-box
					font-size: 0
					.qrcode
						width: 110px
						margin-right: 20px
						display: inline-block
						vertical-align: top
						figure
							img
						p
							font-size: 16px
							color: #000
							font-weight: bold
							text-align: center
		

section.map
	iframe
		width: 100%
		height: 500px