<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title 霧峰六股社區
		link(rel="stylesheet", href="./css/css_reset.css")
		link(rel="stylesheet", href="./css/owl.carousel.min.css")
		link(rel="stylesheet", href="./css/owl.theme.default.min.css")
		link(rel="stylesheet", href="./css/index.css")
		link(rel="stylesheet", href="./css/header.css")
		link(rel="stylesheet", href="./css/onesection.css")
		link(rel="stylesheet", href="./css/twosection.css")
		link(rel="stylesheet", href="./css/footer.css")
		link(rel='icon', type='image/x-icon', href='./images/favicon.ico')
	body
		include ../component/Header.pug
		include ../component/OneSection.pug
		include ../component/TwoSection.pug
		include ../component/Footer.pug
		


		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
		script(src="./js/libs/owl.carousel.min.js")
		script(src="./js/index.js")
		
		