<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title 樂美
		link(rel="stylesheet", href="./css/css_reset.css")
		link(rel="stylesheet", href="./css/all.min.css")
		link(rel="stylesheet", href="./css/owl.carousel.min.css")
		link(rel="stylesheet", href="./css/owl.theme.default.min.css")
		link(rel="stylesheet", href="./css/index.css")
		link(rel='icon', type='image/x-icon', href='./images/favicon.ico')
	body
		header
			figure.logo
				img(src="./images/logo.png")
		article
			section.banner
				.banner-pic
			section.contact-part
				.wrapper
					a.icon.fab.fa-line(href="https://lin.ee/x0vmsw8" target="_blank")
					a.icon.fab.fa-facebook-messenger(href="https://www.facebook.com/%E6%A8%82%E7%BE%8E%E5%9C%8B%E9%9A%9B%E7%BE%8E%E5%AD%B8%E9%A4%A8-2787651067927271/" target="_blank")
					a.icon.fas.fa-phone(href="tel:+886-937118016")
			section.service
				.wrapper
					.tab-bar
						label(for="service2").tab.active 教學部
						label(for="service1").tab 營業部
					.service-content
						input(type="radio", name="service" id="service2" checked)
						.service-box
							.service-info
								.title 服務項目
								a.service-item(href="#education1") 
									i.fas.fa-star 
									| 國家美容丙級照教學
								a.service-item(href="#education2") 
									i.fas.fa-star 
									| 經典粉墨眉精修班
								a.service-item(href="#education3") 
									i.fas.fa-star 
									| 美睫精修全能創業班
								a.service-item(href="#education4") 
									i.fas.fa-star 
									| 特色一對一單堂進修班
							.service-pic#service-carousel2.owl-carousel
								.pic(style="background-image:url('./images/education1.jpg')")
								.pic(style="background-image:url('./images/education2.jpg')")
								.pic(style="background-image:url('./images/education2-2.jpg')")
								.pic(style="background-image:url('./images/education3-1.jpg')")
								.pic(style="background-image:url('./images/education3-2.jpg')")
								.pic(style="background-image:url('./images/education3-3.jpg')")
								.pic(style="background-image:url('./images/education3-4.jpg')")
								.pic(style="background-image:url('./images/education4.jpg')")
						input(type="radio", name="service" id="service1")
						.service-box
							.service-info
								.title 服務項目
								a.service-item(href="#sales1") 
									i.fas.fa-star 
									| 美睫
								a.service-item(href="#sales2") 
									i.fas.fa-star 
									| 紋繡
								a.service-item(href="#sales3") 
									i.fas.fa-star 
									| 無痛經絡紓壓
								a.service-item(href="#sales4") 
									i.fas.fa-star 
									| 產品介紹
							.service-pic#service-carousel1.owl-carousel
								.pic(style="background-image:url('./images/sales1.jpg')")
								.pic(style="background-image:url('./images/sales2-1.jpg')")
								.pic(style="background-image:url('./images/sales2-2.jpg')")
								.pic(style="background-image:url('./images/sales2-3.jpg')")
								.pic(style="background-image:url('./images/sales3.jpg')")
								.pic(style="background-image:url('./images/sales4.jpg')")
			section.awarded
				.wrapper
					.title 作品欣賞
					.carousel-box#awarded-carousel.owl-carousel
						.pic(style="background-image:url('./images/awarded1.jpg')")
						.pic(style="background-image:url('./images/awarded2.jpg')")
						.pic(style="background-image:url('./images/awarded3.jpg')")
						.pic(style="background-image:url('./images/awarded4.jpg')")
						.pic(style="background-image:url('./images/awarded5.jpg')")
						.pic(style="background-image:url('./images/awarded6.jpg')")
						.pic(style="background-image:url('./images/awarded7.jpg')")
						.pic(style="background-image:url('./images/awarded8.jpg')")
			section.introduce
				.wrapper
					.intro-item#sales1
						.card
							.title 美睫
							.pic-box
								.pic(style="background-image:url('./images/sales1.jpg')")
							.content
								.txt
									i.fas.fa-long-arrow-alt-right
									|  3D自然裸妝心機稼接200根
								.txt
									i.fas.fa-long-arrow-alt-right
									|  6D微醺妝感稼接
								.txt
									i.fas.fa-long-arrow-alt-right
									|  9D 爆濃妝感
								.txt
									i.fas.fa-long-arrow-alt-right
									|  混搭時尚流行款
								.txt
									i.fas.fa-long-arrow-alt-right
									|  新客體驗500根999元
								br
								hr
								.txt
									br
									| 每一對睫毛都是一扇心靈的窗戶
									br
									| 接睫毛不僅僅是美觀
									br
									| 我們一直堅持讓每雙眼睛打開時要更有自信更有光彩
									br
									| 帶著愉快的心情 迎接每一天
									br
									| 本店選用經過SGS合格認證商品
									br
									| 美睫的優勢講不完 睫對自信
									br
									| 每天張開眼睛就有神的利器
									br
									| 告別睫毛膏 假睫毛 且有眼線效果
									br
									| 耐汗防水更持久
									br
									| 精緻面容的靈魂之窗 有小微整的效果
									br
									| 您要的 在樂美滿足您
									br
									| 現在預約 優惠體驗給您滿滿驚喜稼
									br
									| 樂美美睫~優質不止於表面
									br
					.intro-item#sales2
						.card
							.title 紋繡
							.pic-box
								.pic(style="background-image:url('./images/sales2-1.jpg')")
							.content
								.sub-title PCL經典粉墨眉
								.txt
									| 有形無框 層次漸變 增加毛髮感
									br
									| 零修復 無結痂 沒有尷尬期
									br
									| 保證不變色 高端色乳可以自然代謝掉
						.card
							.pic-box
								.pic(style="background-image:url('./images/sales2-2.jpg')")
							.content
								.sub-title 魅惑眼黑眼線
								.txt
									| 閉眼無痕長眼有神
									br
									| 不暈色零皮損可留色3年
						.card
							.pic-box
								.pic(style="background-image:url('./images/sales2-3.jpg')")
							.content
								.sub-title 無框漸變BABY唇
								.txt
									| 烏唇轉色一次OK
									br
									| 不痛不腫 結痂薄 恢復快 48小時脫痂 給你好氣色
					.intro-item#sales3
						.card
							.title 無痛經絡紓壓
							.pic-box
								.pic(style="background-image:url('./images/sales3.jpg')")
							.content
								.txt
									| 因為從事美業多年,我們知道大家的痛點
									br
									| 所以我們用傳統經絡穴位按摩
									br
									| 搭配神奇的芳香精油
									br
									| 產生不一樣的共鳴
									br
									| 特別針對護理師/美睫/美甲/紋繡的老師們設計了一套完整放鬆課程，歡迎體驗
					.intro-item#sales4
						.card
							.title 產品介紹
							.pic-box
								.pic(style="background-image:url('./images/sales4.jpg')")
							.content
								.txt
									| 我們的產品是濃縮液態化純植物性產品
									br
									| 易上色不易色素堆積
									br
									| 最重要的是 我們的色乳顏色中沒有加入紅元素 , 產品操作後，我們呈現出來的棕色是冷棕色卡其色系
									br
									| 霧感薄透自然後期不發藍不發紅
					.intro-item#education1
						.card
							.title 國家美容丙級照教學
							.pic-box
								.pic(style="background-image:url('./images/education1.jpg')")
							.content
								.sub-title 證照優勢
								.txt
									| 跨入美業必備國家證照～美容丙級技術士證書
									br
									| 彈性上課時間 依個人時間安排課程進度 但請提早一週預約課程時段
									br
									| 考證照難嗎？在樂美，很簡單
									br
									| 我們承諾把您的錢花在刀口上 善用零碎時間
									br
									| 秉持辦學初心，用心帶著您 手把手教授考試技巧細節
									br
									| 100%考試模式讓您自信滿滿進考場 一次考取國家證照
									br
									| 考完丙級證照後能作什麼 來樂美 ,給您完整的方向和出路
									br
									br
								.sub-title 課程時間：
								.txt
									|	每次3小時共計30小時課程
									br
									| 一年三梯次檢定
									br
									| 1月報名 3月學科 4月術科
									br
									| 5月報名 7月學科 8月術科
									br
									| 9月報名 11月學科 12月術科
									br
									br
								.sub-title 課程內容
								.txt
									|	學科及術科
									br
									| 學科有提供完整題庫及標準答案
									br
									| 1.護膚
									br
									i.fas.fa-long-arrow-alt-right
									| 全流程考場模式教學
									br
									| 2.彩妝
									br
									i.fas.fa-long-arrow-alt-right
									| 比照考試標準 精準模擬
									br
									i.fas.fa-long-arrow-alt-right
									| 一般妝 計時30分鐘
									br
									span.small (上班妝OR職業婦女妝二抽一)
									br
									i.fas.fa-long-arrow-alt-right
									| 宴會妝 計時50分鐘(日宴OR晚宴二抽一)
									br
									| 3.衛生技能
					.intro-item#education2
						.card
							.title 經典粉墨眉精修班
							.pic-box
								.pic(style="background-image:url('./images/education2.jpg')")
								.pic(style="background-image:url('./images/education2-2.jpg')")
							.content
								.sub-title 課程時間
								.txt 早上10:00---19:00
									br
									br
								.sub-title 課程特色
								.txt 
									| 高強度密訓課程,不管有無基礎,只要您抱持空杯的心態,我們都會讓您完美蛻變, 下一位行業菁英就是您
									br
									|我們注重每一個細節 更在乎基礎工是否扎實,霧眉看起來簡單,其實魔鬼藏在細節裡,選擇樂美課程,定會讓您滿載而歸
									br
									br
								.sub-title 課程內容
								.txt 
									| DAY1
									hr
									| 1.核心課程介紹 手工粉墨眉優勢 目前市場霧眉剖析
									br
									| 2.認識眉毛 眉毛六大點與層次關係
									br
									| 3.紙上設計眉型 怎麼判斷眉頭 眉峰 眉尖 眉心 眉寬
									br
									| 4.如何畫出一對對稱的眉型
									br
									| 5.何謂標準眉、小歐眉、韓式平眉
									br
									br
								.txt 
									| DAY2
									hr
									| 1.眉毛美學知識
									br
									| 2.各種臉型適合的眉型
									br
									| 3.高低眉如何調整
									br
									| 4.眉毛的適應人群
									br
									| 5.禁忌人群
									br
									| 6.操作後居家護理重點
									br
									| 7.仿皮眉型練習 不同仿皮眉型畫法 操作力道 顏色呈現也不同
									br
									| 8.粉墨眉的核心專利針法解析
									br
									br
								.txt 
									| DAY3
									hr
									| 1.仿皮練習調整手法
									br
									| 2.真人眉型設計
									br
									| 3.真人操作示範
									br
									br
								.txt 
									| DAY4
									hr
									| 1.學員實操 一對一指導
					.intro-item#education3
						.card
							.title 美睫精修全能創業班
							.pic-box
								.pic(style="background-image:url('./images/education3-1.jpg')")
								.pic(style="background-image:url('./images/education3-2.jpg')")
								.pic(style="background-image:url('./images/education3-3.jpg')")
								.pic(style="background-image:url('./images/education3-4.jpg')")
							.content
								.sub-title 課程優勢
								.txt
									span.bold 雙師資組合 著重每一個細節
									br
									span.bold 精緻家教式個別指導 保證教學品質
									br
									span.bold 用最短的時間 幫您跨出成功的第一步
									br
									span.bold 免費證照輔導輔導國內大型比賽
									br
									| 雙師授課
									br
									| 紮實學科長達五十多頁的講義
									br
									| 為您完整呈現學術科精華
									br
									| 真的做到從零開始
									br
									| 不走彎路
									br
									| 讓您把每一對睫毛都當作一件精品
									br
									| 讓您在作品中都能感受到老師教學的深度 技法和經驗做到毫無保留的給每位學員
									br
									| 無稐單根稼接 Y毛稼接 多根開花 有我們在 都會變得很簡單
									br
									| 學到一個可以創業的技能,然後把興趣變現
									br
									span.bold ---樂美美學 優質不止於表面---
									br
									br
								.sub-title 課程時間
								.txt
									| 早上10:00---下午15:00
									br
									| 為期4+1天
									br
									| 可依個人時間調整上課時段 需要先排課程時間
									br
									br
								.txt
									| DAY 1 學科
									Hr
									i.fas.fa-long-arrow-alt-right
									|  基本工具介紹
									br
									i.fas.fa-long-arrow-alt-right
									|  植睫注意事項
									br
									i.fas.fa-long-arrow-alt-right
									|  毛髮生長週期
									br
									i.fas.fa-long-arrow-alt-right
									|  認識不同粗度/捲度/長度的睫毛
									br
									i.fas.fa-long-arrow-alt-right
									|  如何挑選嫁接睫毛廠商
									br
									i.fas.fa-long-arrow-alt-right
									|  3D/6D/9D/12D國際與台灣的認知差異
									br
									i.fas.fa-long-arrow-alt-right
									|  基礎眼型判別與嫁接排列技巧
									br
									i.fas.fa-long-arrow-alt-right
									|  黑膠成分解析
									br
									i.fas.fa-long-arrow-alt-right
									|  如何安全使用黑膠
									br
									i.fas.fa-long-arrow-alt-right
									|  溫度濕度與環境對嫁接的影響
									br
									i.fas.fa-long-arrow-alt-right
									|  如何解決黑膠稠化太快/如何保存黑膠
									br
									i.fas.fa-long-arrow-alt-right
									|  基礎色彩學
									br
									i.fas.fa-long-arrow-alt-right
									|  基礎色彩學
									br
									i.fas.fa-long-arrow-alt-right
									|  行銷管道
									br
									br
								.txt
									| DAY 2 術科
									hr
									i.fas.fa-long-arrow-alt-right
									|  嫁接基本技巧練習 直線 弧形
									br
									i.fas.fa-long-arrow-alt-right
									|  假睫毛五根定位法
									br
									i.fas.fa-long-arrow-alt-right
									|  如何排列完美比例雙眼
									br
									i.fas.fa-long-arrow-alt-right
									|  日式翻層嫁接法/左撥毛/右撥毛/雙邊撥毛工具運用
									br
									i.fas.fa-long-arrow-alt-right
									|  3D嫁接技巧操作流程示範
									br
									i.fas.fa-long-arrow-alt-right
									|  自然型嫁接技巧假睫毛操作嫁接技巧
									br
									i.fas.fa-long-arrow-alt-right
									|  各式開花手法操作示範
									br
									i.fas.fa-long-arrow-alt-right
									|  完美扇形 捲度與長度轉換技巧
									br
									i.fas.fa-long-arrow-alt-right
									|  黑膠適量與持久度的秘密
									br
									i.fas.fa-long-arrow-alt-right
									|  韓式多層次無重力嫁接技巧示範與操作
									br
									i.fas.fa-long-arrow-alt-right
									|  下睫毛嫁接技巧示範與操作
									br
									i.fas.fa-long-arrow-alt-right
									|  特殊睫毛—彩色睫毛配色技巧
									br
									i.fas.fa-long-arrow-alt-right
									|  歐式補睫手法呈現/日式安全卸除睫毛
									br
									br
								.txt
									| DAY 3
									hr
									i.fas.fa-long-arrow-alt-right
									|  特殊眼型調整(大小眼 浮腫眼型 單眼皮 睫毛下垂)
									br
									i.fas.fa-long-arrow-alt-right
									|  3D~12D 國際與台灣的認知差異
									br
									i.fas.fa-long-arrow-alt-right
									|  常見開花夾點分析
									br
									i.fas.fa-long-arrow-alt-right
									|  如何等距蓬鬆開花
									br
									i.fas.fa-long-arrow-alt-right
									|  海綿練習開花手法
									br
									i.fas.fa-long-arrow-alt-right
									|  海綿練習睫毛包覆
									br
									i.fas.fa-long-arrow-alt-right
									|  如何運用開花技巧調整細毛及空洞
									br
									i.fas.fa-long-arrow-alt-right
									|  嫁接持久性的祕密
									br
									i.fas.fa-long-arrow-alt-right
									|  睫毛SPA產品分析
									br
									i.fas.fa-long-arrow-alt-right
									|  睫毛SPA產品分析
									br
									i.fas.fa-long-arrow-alt-right
									|  完美扇形 尺寸轉換技巧
									br
									i.fas.fa-long-arrow-alt-right
									|  下睫毛嫁接技巧及配置
									br
									i.fas.fa-long-arrow-alt-right
									|  彩色睫毛搭配技巧
									br
									i.fas.fa-long-arrow-alt-right
									|  作品拍攝五大黃金角度
									br
									i.fas.fa-long-arrow-alt-right
									|  作品拍攝五大黃金角度
									br
									i.fas.fa-long-arrow-alt-right
									|  架設網站付費與免費的差異 如何自己下廣告 行銷輔導
									br
									br
								.txt
									| DAY 4
									hr
									i.fas.fa-long-arrow-alt-right
									|  真人嫁接
									br
									i.fas.fa-long-arrow-alt-right
									|  真人操作疑難解答
					.intro-item#education4
						.card
							.title 特色一對一單堂進修班
							.pic-box
								.pic(style="background-image:url('./images/education4.jpg')")
							.content
								.sub-title 課程優勢
								.txt 針對美容保養 美甲 美睫 紓壓 個人彩妝,任何想要變美 想要針對單一技術課程進修 但有時間和預算考量，我們客製化的單元課程非常適合您,突破您的盲點,達到事半功倍的效果
									span.bold 適合人群
									hr
									| 1.想讓甘皮 硬繭遠離 讓手部肌膚更細緻的您
									br
									| 2.像要提昇技術的老師們
									br
									| 3.想讓自己變美變帥的
									br
									| 4.想要自己顏值立馬升級的

		footer
			.wrapper
				p
				| 地址：桃園市桃園區新埔八街99號3樓
				p
				| 預約電話：0937118016
				br
				| &copy; 2020 | copyright


		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
		//- script(src="https://kit.fontawesome.com/ce95b71280.js" crossorigin="anonymous")
		script(src="./js/libs/owl.carousel.min.js")
		script(src="./js/index.js")
		
		