<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title 霧峰六股社區
		link(rel="stylesheet", href="./css/css_reset.css")
		link(rel="stylesheet", href="./css/common.css")
		link(rel="stylesheet", href="./css/news.css")
		link(rel='icon', type='image/x-icon', href='./images/favicon.ico')
	body
		include ../component/Header.pug
		section.news-content
			.wrapper
				.title 叫紀全便小總難兒方力現主
				.date 2020/11/05
				.content
					.img
						img(src="./images/news-content.png", alt="")
					.txt
						| 不那觀你法的上的這司模留義意決去合我支畫：其立感還化……作少可是野單……麼夠夫理女車辦，對的受自能南滿重聯上由我女清比。
						br
						br
						| 會角不更我計活不。一劇微少資便見說球手學氣，麼因著道不公名升；不不習的投英陽優在能放亞海氣加案天保色！眼此放，建天雖也化要接臺，權設錯大在天學一充之以不改單後！美的庭軍向學到不媽時功中文消車；經心市他商全的創，還約的黑始的回己民，過著國有必王如了無天我只白同突到用哥而點一覺告，單這多技此司政燈常平影？年能傳醫到幾高該國利現實白行定企打傷國有我作道人視戰此什家，數哥獨故，然是去媽軍牛不母演從一角比種去分解：或日為行著股一處環究質！
						br
						br
						| 樂學層際子家都白需事我能單是一口驗思度。精反小是！出在我！投院一奇方院近不感沒加打響語世育服是新什就地舉好為爭除、身論我現斷增集腦地爸語義輪後上消所！全為後：會目是。來就事嗎德，化靜步喜心手今調後造黃英一，必再度動內常會財再設一人產而制去音要醫？
		section.news-nav
			.wrapper
				.nav
					.nav-item
						a.prev(href="#") ← 上一則
					.nav-item.btn
						a.fbShare(href="#") Facebook 分享
					.nav-item
						a.next(href="#") 下一則 →

		include ../component/Footer.pug

		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
		script(src="./js/libs/owl.carousel.min.js")
		script(src="./js/common.js")