header.header
	.header-logo
		img(src='./images/logo.jpg' alt='logo')
	.header-nav
		.menu
			a.menu-item#aboutus(href="#")
				img(src='./images/btn-1.png' alt='關於六股')
			a.menu-item#news(href="#")
				img(src='./images/btn-2.png' alt='社區新聞')
			a.menu-item#product(href="#")
				img(src='./images/btn-3.png' alt='地方創生')
			a.menu-item#faq(href="#")
				img(src='./images/btn-4.png' alt='常見問題')
			a.menu-item#contact(href="#")
				img(src='./images/btn-5.png' alt='聯繫我們')
			a.menu-item#index(href="#")
				img(src='./images/btn-6.png' alt='首頁')
		.info
			a.info-item(href="#" target="_blank")
				img(src='./images/food.png' alt='食')
				p 食
			a.info-item(href="#" target="_blank")
				img(src='./images/book.png' alt='育')
				p 育
			a.info-item(href="#" target="_blank")
				img(src='./images/toy.png' alt='樂')
				p 樂
		.other
			.other-top
				| 想進一步了解社區更多有趣資訊
				br
				| 可點選左邊按鈕了解更多，也可下方搜尋商品資訊！
			.other-bottom
				.search
					input.searchBox(type='text' placeholder='商品搜尋')
					a.searchBox-btn(href="#" target="_blank")
						img(src="./images/zoom.png", alt="放大鏡")
				.social
					a.social-item(href="#" target="_blank")
						img(src='./images/fb.png' alt='facebook')
					a.social-item(href="#" target="_blank")
						img(src='./images/line.png' alt='line')
					a.social-item(href="#" target="_blank")
						img(src='./images/mail.png' alt='mail')