header.header
  .header-logo
    img(src='./images/logo.jpg' alt='logo')
  .header-nav
    .menu
      .menu-item
        img(src='./images/btn-1.png' alt='關於六股')
      .menu-item
        img(src='./images/btn-2.png' alt='社區新聞')
      .menu-item
        img(src='./images/btn-3.png' alt='熱門商品')
      .menu-item
        img(src='./images/btn-4.png' alt='常見問題')
      .menu-item
        img(src='./images/btn-5.png' alt='聯繫我們')
      .menu-item
        img(src='./images/btn-6.png' alt='首頁')
    .info
      .info-item
        img(src='./images/food.png' alt='食')
        p 食
      .info-item
        img(src='./images/book.png' alt='育')
        p 育
      .info-item
        img(src='./images/toy.png' alt='樂')
        p 樂
    .other
      .other-top
        | 想進一步了解社區更多有趣資訊
        br
        | 可點選左邊按鈕了解更多，也可下方搜尋商品資訊！
      .other-bottom
        .search
          input.searchBox(type='text' placeholder='商品搜尋')
          a.searchBox-btn(href="#")
            img(src="./images/zoom.png", alt="")
        .social
          .social-item
            img(src='./images/fb.png' alt='facebook')
          .social-item
            img(src='./images/line.png' alt='line')
          .social-item
            img(src='./images/mail.png' alt='mail')