section.aboutUs
  .wrapper
    .about
      .about-bg
      .about-main
        .about-img
          img(src='./images/aboutUs-img.jpg' alt='紫錐花故鄉')
        .about-content
          .title
            | 關於霧峰六股
          p.about-text
            | 霧峰六股社區位於乾溪之南,早年為合資開墾之地, 舉首將土地按人口數目、出力多寡,劃分持股數目,而社區位於「第六股」,即形成聚落而得名。早期社區居民以種植稻米為主,2007年引進紫錐花栽培,和中興大學、弘光科技大學兩所大學產學合作, 研究紫錐花,成為社區最重要的微型經濟作物,研發 出紫錐花茶包、方塊酥、手工皂、精油等11項產品。
    .btn
      | 了解更多‧Read MORE >