section.product
	.wrapper
		.title
			.main-title
				figure.icon
					img(src="../images/product_title_icon.png")
				p 地方創生
			.title-intro
				p 紫錐花富含「酚酸、烷醯胺、多醣體、菊苣酸、紫錐菊苷」等天然成分,，有助於提升自身防禦力。
		.product-box#product-carousel.owl-carousel
			.product-item
				.pic(style="background-image: url('../images/product_pic_01.png')")
				.info
					.name 紫錐養生茶包
					.txt 天然草本、最健康的花草茶!100%紫錐花草本養生飲品，冷凍低溫乾燥研磨，保留草本營....
					.price
						| 建議售價  
						span.big 900／
						| 盒
			.product-item
				.pic(style="background-image: url('../images/product_pic_02.png')")
				.info
					.name 紫錐手工潔膚皂
					.txt 將紫錐花的藥用草本特色-植物多酚、多醣體、烷醯胺，可抗氧化、提升免疫力，100%紫錐花...
					.price
						| 建議售價 
						span.big 150／
						| 個
			.product-item
				.pic(style="background-image: url('../images/product_pic_03.png')")
				.info
					.name 紫錐香酥棒
					.txt 使用紫錐花的地上莖(莖、葉、花)，製作成1級棒的餅乾，清爽無負擔，蛋奶素皆可食用....
					.price
						| 建議售價 
						span.big 150／
						| 盒

section.faq
	.wrapper
		.title
			.main-title
				figure.icon
					img(src="../images/faq_title_icon.png")
				p 常見問題
		.tab-box
			.tab.active 商品安全
			.tab 購買須知
			.tab 保固與維護
		.faq-content
			.faq-box
				.faq-item
					.faq-ques
						figure.icon
							img(src="../images/faq_ques_icon.png")
						p 使用前紫錐健康膠囊需要諮詢醫療人員嗎?
					.faq-ans
						p 有自體免疫疾病者、對菊科過敏者、懷孕婦女、二歲以下之幼童、糖尿病第一型患者,建議使用前先諮詢 醫療人員喔。
				.faq-item
					.faq-ques
						figure.icon
							img(src="../images/faq_ques_icon.png")
						p 商品如何購買?有宅配的服務嗎?
					.faq-ans
						p 有自體免疫疾病者、對菊科過敏者、懷孕婦女、二歲以下之幼童、糖尿病第一型患者,建議使用前先諮詢 醫療人員喔。
				.faq-item
					.faq-ques
						figure.icon
							img(src="../images/faq_ques_icon.png")
						p 使用前紫錐健康膠囊需要諮詢醫療人員嗎?
					.faq-ans
						p 有自體免疫疾病者、對菊科過敏者、懷孕婦女、二歲以下之幼童、糖尿病第一型患者,建議使用前先諮詢 醫療人員喔。
		a.more-btn(href="")
			| 看更多 MORE

