section.product
	.wrapper
		.title
			.main-title
				figure.icon
					img(src="./images/product_title_icon.png" alt="包裹")
				p 地方創生
			.title-intro
				p 紫錐花富含「酚酸、烷醯胺、多醣體、菊苣酸、紫錐菊苷」等天然成分,，有助於提升自身防禦力。
		.product-box
			.carousel-arrow.arrow-left#product-left
				.svg-box
					include ../includes/arrow_svg.pug
			.carousel-arrow.arrow-right#product-right
				.svg-box
					include ../includes/arrow_svg.pug
			#product-carousel.owl-carousel
				a.product-item(href="#" target="_blank")
					.pic(style="background-image: url('./images/product_pic_01.png')")
					.info
						.name 紫錐養生茶包
						.txt 天然草本、最健康的花草茶!100%紫錐花草本養生飲品，冷凍低溫乾燥研磨，保留草本營....
						.price
							| 建議售價  
							span.big 900／
							| 盒
				a.product-item(href="#" target="_blank")
					.pic(style="background-image: url('./images/product_pic_02.png')")
					.info
						.name 紫錐手工潔膚皂
						.txt 將紫錐花的藥用草本特色-植物多酚、多醣體、烷醯胺，可抗氧化、提升免疫力，100%紫錐花...
						.price
							| 建議售價 
							span.big 150／
							| 個
				a.product-item(href="#" target="_blank")
					.pic(style="background-image: url('./images/product_pic_03.png')")
					.info
						.name 紫錐香酥棒
						.txt 使用紫錐花的地上莖(莖、葉、花)，製作成1級棒的餅乾，清爽無負擔，蛋奶素皆可食用....
						.price
							| 建議售價 
							span.big 150／
							| 盒
				a.product-item(href="#" target="_blank")
					.pic(style="background-image: url('./images/product_pic_03.png')")
					.info
						.name 紫錐香酥棒
						.txt 使用紫錐花的地上莖(莖、葉、花)，製作成1級棒的餅乾，清爽無負擔，蛋奶素皆可食用....
						.price
							| 建議售價 
							span.big 150／
							| 盒

section.faq
	.wrapper
		.title
			.main-title
				figure.icon
					img(src="./images/faq_title_icon.png" alt="FAQ")
				p 常見問題
		.tab-box
			.tab.active 商品安全
			.tab 購買須知
			.tab 保固與維護
		.faq-content
			.faq-box
				.faq-item
					.faq-ques
						figure.icon
							img(src="./images/faq_ques_icon.png" alt="問號")
						p 1使用前紫錐健康膠囊需要諮詢醫療人員嗎?
					.faq-ans
						p 有自體免疫疾病者、對菊科過敏者、懷孕婦女、二歲以下之幼童、糖尿病第一型患者,建議使用前先諮詢 醫療人員喔。
				.faq-item
					.faq-ques
						figure.icon
							img(src="./images/faq_ques_icon.png" alt="問號")
						p 商品如何購買?有宅配的服務嗎?
					.faq-ans
						p 有自體免疫疾病者、對菊科過敏者、懷孕婦女、二歲以下之幼童、糖尿病第一型患者,建議使用前先諮詢 醫療人員喔。
				.faq-item
					.faq-ques
						figure.icon
							img(src="./images/faq_ques_icon.png" alt="問號")
						p 使用前紫錐健康膠囊需要諮詢醫療人員嗎?
					.faq-ans
						p 有自體免疫疾病者、對菊科過敏者、懷孕婦女、二歲以下之幼童、糖尿病第一型患者,建議使用前先諮詢 醫療人員喔。
			.faq-box
				.faq-item
					.faq-ques
						figure.icon
							img(src="./images/faq_ques_icon.png" alt="問號")
						p 2使用前紫錐健康膠囊需要諮詢醫療人員嗎?
					.faq-ans
						p 有自體免疫疾病者、對菊科過敏者、懷孕婦女、二歲以下之幼童、糖尿病第一型患者,建議使用前先諮詢 醫療人員喔。
				.faq-item
					.faq-ques
						figure.icon
							img(src="./images/faq_ques_icon.png" alt="問號")
						p 商品如何購買?有宅配的服務嗎?
					.faq-ans
						p 有自體免疫疾病者、對菊科過敏者、懷孕婦女、二歲以下之幼童、糖尿病第一型患者,建議使用前先諮詢 醫療人員喔。
				.faq-item
					.faq-ques
						figure.icon
							img(src="./images/faq_ques_icon.png" alt="問號")
						p 使用前紫錐健康膠囊需要諮詢醫療人員嗎?
					.faq-ans
						p 有自體免疫疾病者、對菊科過敏者、懷孕婦女、二歲以下之幼童、糖尿病第一型患者,建議使用前先諮詢 醫療人員喔。
			.faq-box
				.faq-item
					.faq-ques
						figure.icon
							img(src="./images/faq_ques_icon.png" alt="問號")
						p 3使用前紫錐健康膠囊需要諮詢醫療人員嗎?
					.faq-ans
						p 有自體免疫疾病者、對菊科過敏者、懷孕婦女、二歲以下之幼童、糖尿病第一型患者,建議使用前先諮詢 醫療人員喔。
				.faq-item
					.faq-ques
						figure.icon
							img(src="./images/faq_ques_icon.png" alt="問號")
						p 商品如何購買?有宅配的服務嗎?
					.faq-ans
						p 有自體免疫疾病者、對菊科過敏者、懷孕婦女、二歲以下之幼童、糖尿病第一型患者,建議使用前先諮詢 醫療人員喔。
				.faq-item
					.faq-ques
						figure.icon
							img(src="./images/faq_ques_icon.png" alt="問號")
						p 使用前紫錐健康膠囊需要諮詢醫療人員嗎?
					.faq-ans
						p 有自體免疫疾病者、對菊科過敏者、懷孕婦女、二歲以下之幼童、糖尿病第一型患者,建議使用前先諮詢 醫療人員喔。
		a.more-btn(href="#" target="_blank")
			| 看更多 MORE

section.contact
	.wrapper
		.title
			.main-title
				figure.icon
					img(src="./images/contact_title_icon.png" alt="電話")
				p 聯絡我們
			.title-intro
				p 如有需要任何服務需求或問題想反映，歡迎與我們聯繫 您可以填寫一下資訊，或前往Facebook、Line與我們互動，感謝您! 
		.main
			form.form(action="")
				.row
					label(for="") 姓　　名：
					input(type="text" placeholder="請輸入姓名")
				.row
					label(for="") 性　　別：
					select(name="")
						option(value="") 選擇性別
						option(value="") 男
						option(value="") 女
				.row
					label(for="") 聯絡電話：
					input(type="text" placeholder="請輸入可聯繫手機或市內電話")
				.row
					label(for="") 信　　箱：
					input(type="text" placeholder="請填寫個人信箱")
				.row
					label(for="") 反映訊息：
					textarea(name="" placeholder="您可填寫想詢問的問題，我們會盡快與您聯繫!")
				input.submit-btn(type="submit" value="確認送出")
			.contact-info
				.gray-txt
					| 可點選連結到以下粉絲與我們互動
					br
					| 或使用手機掃描QRCode
				.txt 
					| 協會地址：413台中市霧峰區六股路51號
					br
					| 連絡電話：04-2339
				.icon-box
					a.icon(href="#" target="_blank")
						figure
							img(src="./images/contact_fb.png" alt="fb")
					a.icon(href="#" target="_blank")
						figure
							img(src="./images/contact_line.png" alt="line")
					a.icon(href="#" target="_blank")
						figure
							img(src="./images/contact_mail.png" alt="mail")
				.separate
					p ro
				.qrcode-box
					.qrcode
						figure
							img(src="./images/contact_qrcode_01.png" alt="qrcode")
						p 
							| Facebook粉絲
							br
							| iOS
					.qrcode
						figure
							img(src="./images/contact_qrcode_02.png" alt="qrcode")
						p 
							| Facebook粉絲
							br
							| Android
section.map
	iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3643.80747257048!2d120.68768261551425!3d24.037853483649968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693b21862d406b%3A0x53831c494335f3b1!2z6Ie65Lit5biC6Zyn5bOw5Y2A5YWt6IKh56S-5Y2A55m85bGV5Y2U5pyD!5e0!3m2!1szh-TW!2stw!4v1608738073331!5m2!1szh-TW!2stw")